<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if logged_in? %>
      <%= link_to "Logout", logout_path, {method: "DELETE"} %>
      <%= link_to "View Cart", cart_path %>
      <%= link_to "Home", root_path %>
      <% else %>
        <%= link_to "Login", new_session_path %>
      <% end %>

      <%= render 'layouts/partials/flash' %>
      
<div class = "container">
    <%= yield %>
      </div>
  </body>
</html>
